/* VARIABLES */
:root {
  --main-font-family:"Roboto", "Arial", sans-serif;
}

/* roboto-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff");
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
/* roboto-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  background-color: darkcyan;
  color: gold;
}

::selection {
  background-color: darkcyan;
  color: gold;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--main-font-family);
  font-weight: 400;
  background-color: var(--very-light-grey);
  overflow-x: hidden;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1480px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site-header {
  padding-bottom: 25px;
  border-bottom: 2px solid #F5F5F5;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.site-header__logo {
  width: 134px;
  height: 27px;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
}

.site-header__list::after {
  background-image: url("../images/circle.png");
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 19px;
  height: 3px;
  margin-left: 15px;
}

.site-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__item:nth-child(1)::before {
  background-image: url("../images/arrow-bottom.svg");
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 7px;
  height: 4px;
  margin-right: 5px;
}

.site-header__item:nth-child(2) {
  display: none;
}

.site-header__item:nth-child(3) {
  display: none;
}

.site-header__language {
  font-size: 12px;
  line-height: 140%;
  color: #1f1f24;
}

.site-header__language--main {
  color: #8e8e91;
}

.site-header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__btn {
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
  width: 25px;
  height: 17px;
}

.site-header__inputs-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0AA9B4;
  margin-left: 17px;
  border-radius: 5px;
}

.site-header__region {
  background-color: #f7fcfc;
  border-right: 2px solid #0AA9B4;
  padding: 10px 28px 12px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.site-header__region-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 140%;
  color: #1f1f24;
  margin: 0;
}

.site-header__region-name::after {
  background-image: url("../images/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-size: 8px 4px;
  display: block;
  width: 8px;
  height: 4px;
  content: "";
  margin-left: 11px;
}

.site-header__input-search {
  border: none;
  padding-left: 10px;
  outline: none;
}

.site-header__input-search::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 140%;
  color: #1F1F24;
}

.site-header__input-search::-moz-placeholder {
  font-size: 12px;
  line-height: 140%;
  color: #1F1F24;
}

.site-header__input-search:-ms-input-placeholder {
  font-size: 12px;
  line-height: 140%;
  color: #1F1F24;
}

.site-header__input-search::-ms-input-placeholder {
  font-size: 12px;
  line-height: 140%;
  color: #1F1F24;
}

.site-header__input-search::placeholder {
  font-size: 12px;
  line-height: 140%;
  color: #1F1F24;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .site-header__wrapper {
    margin-top: 12px;
  }
  .site-header__logo {
    width: 225px;
    height: 46px;
  }
  .site-header__language {
    font-size: 18px;
  }
  .site-header__list::after {
    display: none;
  }
  .site-header__item:not(:first-child) {
    margin-left: 10px;
  }
  .site-header__item:nth-child(1)::before {
    display: none;
  }
  .site-header__item:nth-child(2) {
    display: block;
  }
  .site-header__item:nth-child(3) {
    display: block;
  }
  .site-header__region {
    padding: 20px 31px 23px 25px;
  }
  .site-header__region-name {
    font-size: 18px;
  }
  .site-header__region-name::after {
    width: 10px;
    height: 6px;
    margin-left: 67px;
  }
  .site-header__btn {
    background-size: 40px 32px;
    width: 40px;
    height: 32px;
  }
  .site-header__input-search {
    padding-left: 25px;
  }
  .site-header__input-search::-webkit-input-placeholder {
    font-size: 18px;
  }
  .site-header__input-search::-moz-placeholder {
    font-size: 18px;
  }
  .site-header__input-search:-ms-input-placeholder {
    font-size: 18px;
  }
  .site-header__input-search::-ms-input-placeholder {
    font-size: 18px;
  }
  .site-header__input-search::placeholder {
    font-size: 18px;
  }
  .site-header__inputs-wrapper::after {
    position: absolute;
    right: 25px;
    background-position: center center;
    background-size: contain;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
  }
}
.hero {
  padding-top: 40px;
  padding-bottom: 37px;
}

.hero__textbox {
  max-width: 694px;
  width: 100%;
  margin-bottom: 30px;
}

.hero__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  color: #00315C;
  margin: 0;
}

.hero__decription {
  font-weight: 300;
  font-size: 12px;
  line-height: 160%;
  color: #4C4C50;
  margin-top: 10px;
}

.hero__information {
  max-width: 694px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e9e9ea;
  border-radius: 10px;
  padding: 15px 20px 20px 20px;
}

.hero__maps-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 210px;
  width: 100%;
}

.hero__photo {
  width: 100px;
  height: 70px;
  margin-right: 15px;
}

.hero__map-title {
  font-weight: 300;
  font-size: 13px;
  line-height: 160%;
  color: #4C4C50;
  margin: 0;
}

.hero__year {
  display: block;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__year::before {
  background-image: url("../../images/pen.svg");
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.hero__more-map {
  display: none;
}

.hero__adres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #1F1F24;
}

.hero__adres::before {
  background-image: url("../images/adres.svg");
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 24px;
  height: 17px;
  margin-right: 10px;
}

.hero__target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  font-size: 13px;
  line-height: 160%;
  color: #4C4C50;
}

.hero__target::before {
  background-image: url("../images/target.svg");
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 28px;
  height: 15px;
  margin-right: 10px;
}

.hero__list {
  list-style: none;
  padding-left: 0;
}

.hero__item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #1F1F24;
  text-decoration: none;
}

.hero__item:nth-child(1):before {
  background-image: url("../../images/phone.svg");
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.hero__link {
  font-size: 13px;
  line-height: 160%;
  color: #0aa9b4;
  text-decoration: none;
}

.hero__work-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 160%;
  color: #4C4C50;
  margin-top: 10px;
  margin-bottom: 0;
}

.hero__work-day {
  color: #8E8E91;
  margin-right: 21px;
}

.hero__work-time:nth-child(2) {
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}

.hero__work-time:nth-child(1):before {
  background-image: url("../images/time.svg");
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.hero__site-link:nth-child(1) {
  margin-bottom: 10px;
}

.hero__site-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 160%;
  text-transform: lowercase;
  color: #0AA9B4;
  text-decoration: none;
}

.hero__site-link:nth-child(1)::before {
  background-image: url("../../images/intenet.svg");
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.hero__site-link:nth-child(2)::before {
  background-image: url("../../images/mail.svg");
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.hero__map-bottom {
  margin-top: 20px;
  margin-bottom: 23px;
}

.hero__map-bottom-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #00315c;
  margin-top: 15px;
}

.hero__map-bottom-title::after {
  background-image: url("../images/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-size: 8px 4px;
  display: block;
  width: 8px;
  height: 4px;
  content: "";
  margin-left: 8px;
}

.hero__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #1F1F24;
}

.hero__right-pohto {
  max-width: 200px;
  width: 100%;
  margin-left: 40px;
  display: none;
}

.hero__category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 43px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
}

.hero__category-item {
  width: 100%;
  margin-bottom: 56px;
  padding-bottom: 12px;
  border-bottom: 2px solid #bcbcbe;
  border-bottom-width: 100%;
}

.hero__category-item:nth-child(3) {
  border-bottom: 2px solid #00315C;
}

.hero__category-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  color: #E9E9EA;
  text-decoration: none;
}

.hero__category-item:nth-child(3) .hero__category-link {
  font-size: 26px;
  color: #00315C;
}

.hero__category-item:nth-child(4) .hero__category-link {
  color: #0AA9B4;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-bottom: 209px;
  }
  .hero__information {
    max-width: 950px;
  }
  .hero__title {
    font-size: 39px;
  }
  .hero__decription {
    font-size: 14px;
  }
  .hero__more-map {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__map-photo {
    width: 150px;
    height: 105px;
  }
  .hero__photo {
    width: 150px;
    height: 105px;
  }
  .hero__maps-info {
    max-width: 280px;
  }
  .hero__adres {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .hero__target {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .hero__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px;
  }
  .hero__services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #00315C;
    margin-right: 20px;
  }
  .hero__text {
    font-size: 16px;
  }
  .hero__services::after {
    background-image: url("../images/arrow-bottom.svg");
    background-repeat: no-repeat;
    background-size: 8px 4px;
    display: block;
    width: 8px;
    height: 4px;
    content: "";
    margin-left: 8px;
  }
  .hero__map-bottom {
    display: none;
  }
  .hero__maps-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero__category-item {
    margin-bottom: 0;
    padding-bottom: 17px;
  }
  .hero__category-list {
    margin-bottom: 0;
    margin-top: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__category-item:nth-child(3) {
    padding-bottom: 13px;
  }
  .hero__category-item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__category-item:nth-child(2)::before {
    background-image: url("../../images/Rectangle 4532 (Stroke).svg");
    background-repeat: no-repeat;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 24px;
  }
  .hero__category-item:nth-child(1) {
    display: none;
  }
  .hero__category-link {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero__information {
    max-width: 1230px;
  }
  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero__right-pohto {
    display: block;
  }
  .hero__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero__item:not(:first-child) {
    margin-left: 60px;
  }
}
@media only screen and (min-width: 1250px) {
  .hero__category-item:nth-child(1) {
    display: block;
  }
  .hero__category-item:nth-child(2)::before {
    display: none;
  }
  .hero__category-link {
    color: #0AA9B4;
  }
}/*# sourceMappingURL=main.css.map */